<div class="container">
  <div class="row">
    <h2>Create Your Simple Registration Form</h2>

    <form class="form-horizontal">
      <fieldset>

        <!-- Form Name Sys -->
        <legend>Register Here</legend>

        <!-- Text Input -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Last Name</label>
          <div class="col-md-4">
            <input id="textinput" name="textinput" placeholder="Insert Your Last Name"
                   class="form-control input-md" required="" type="text">
            <span class="help-block"> </span>
          </div>
        </div>

        <!-- Text Input -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Email</label>
          <div class="col-md-4">
            <input id="textinput" name="textinput" placeholder="Insert Your Email"
                   class="form-control input-md" required="" type="text">
            <span class="help-block"> </span>
          </div>
        </div>

        <!-- Text Input -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Password</label>
          <div class="col-md-4">
            <input id="textinput" name="textinput" placeholder="Insert Your Password"
                   class="form-control input-md" required="" type="text">
            <span class="help-block"> </span>
          </div>
        </div>

        <!-- Text Input -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Confirm Password</label>
          <div class="col-md-4">
            <input id="textinput" name="textinput" placeholder="Insert Your Confirmation of Password"
                   class="form-control input-md" required="" type="text">
            <span class="help-block"> </span>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton"> </label>
          <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-success">Submit</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>
